{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card">
            <div class="card-body">
                <h4 class="text-center mb-3">Login</h4>
                <form method="POST">
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Login</button>
                </form>
                <p class="text-center mt-3">
                    New user <a href="{{ url_for('auth.register') }}"><br>Register here</a>
                </p>
                <p class="text-center text-muted">
                    Admin login:<br>
                    Email :admin@trekmanager.com<br>
                    Password:Admin@123
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}